body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#loader {
  margin-top: 20px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#buttons {
  display: flex;
  justify-content: center;
}

button {
  width: fit-content;
  padding: 10px;
  padding-left: 10vh;
  padding-right: 10vh;
  margin: 20px;
  color: white;
  background-color: #0050EF;
  border: none;
  border-radius: 20px;
}